.sidebar {
    width: 300px;
    background-color:#2d3561;
    color: #fff;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    top:0;
    z-index:9;
}
.sidebar .logo {
    background-color: #6c6c6c;
    height: 52px;
    padding: 14px 0 0 0;
    text-align: center;
}
.main_menu ul li {
    padding: 16px 0 16px 26px;
    border-bottom: 1px solid #ffffff52;
}
.headermain {
    position: fixed;
    width: 100%;
    display: flex;
}
.headermain {
    position: fixed;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 50px;
}
.logo {
    width: 297px;
    margin-left: 99px;
    padding-top: 15px;
}
.main_menu ul li a img {
    display: inline-block;
}
.main_header {
    position: fixed;
    width: 85%;
    top: 0;
    left: 16%;
    padding: 15px;
    background-color: #ffff;
    margin: 0 0 0 auto !important;
}
.main_header ul {
    display: flex;
    align-items: center;
}
.main_header ul li a img {
    display: inline-block;
}

.main_menu ul li img {
    width: 30px;
    margin-right: 15px;
}
.main_logo img {
    width: 200px !important;
}
.main_header ul li a img {
    width: 25px;
    margin-right:10px;
}
.main_header ul li {
    padding-right: 2rem;
}
.profile ul {
    justify-content: flex-end;
}
.profile li a {
    background: transparent;
    border: none;
    padding: 0;
    color: #000;
}
.profile li .dropdown a img {
    width: 40px !important;
}
.profile li a span {
    margin-right: 10px;
}
.dropdown-toggle::after {
    color: #000;
}
.main_layout {
    background: #f5f5f5;
    padding: 40px;
    width: 85%;
    margin: 70px 0 0 auto;
}
body{
    background: #f5f5f5;
}
.main_layout h2 {
    color: #2D3561;
    font-family: sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.68px;
}
.fillter_bar {
    display: flex;
    justify-content: flex-end;
}
.fillter_bar img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 30px;
}
.fillter_bar button.btn.btn-primary {
    border-radius: 34px;
    background: #2563EB;
}

.action li{padding:10px;}
.profile li a:hover{
    background-color:transparent;
    color: #000;
}
button#dropdown-basic {
    background: none;
    border: none !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
}
button#dropdown-basic img {
    width: 30px;
}
.profile .dropdown-menu.show {
    display: block;
    width: 348px;
    padding: 0;
    border-radius: 0;
    left: -75px !important;
}
.tabs_menu .nav-item:hover {
    background-color: #0d6efd;
}
.tabs_menu .nav-item a {
    background-color: #2d3561;
    color: #fff;
    border-radius: 0;
    padding: 15px;
    min-height:85px;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
.tabs_menu .nav-item a:hover{color: #fff !important;}
.tabs_menu .nav-item {
    width: 33%;
    text-align: center;
}
.profile li .dropdown .nav-item img {
    width: 25px !important;
    filter: invert(1);
    text-align: center;
    margin: 0 auto;
}
.notification {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.notification li {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}
.notification span {
    color: #0d6efd;
}
.text p {
    color: #2D3561;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profile_btn button#dropdown-basic {
    color: #000;
}
.profile_btn button#dropdown-basic span {
    margin-right: 10px;
}
.profile_btn .dropdown-menu.show {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    left: 0 !important;
}
@media (max-width:1366px){
    .sidebar {
        width: 216px;

    }
    .main_logo img {
        width: 160px !important;
    }
}

@media (max-width:1440px){
    .main_header {
        position: fixed;
        width: 85%;
        top: 0;
        left: 16%;
        padding: 15px;
        background-color: #ffff;
        margin: 0 0 0 auto !important;
    }
}
